body{
    background:#ffecb3;
}
.smiley{
    position:absolute;
    transform:translate(-50%, -50%);
    left: 50%;
    top:50%;
    right: 50%;
    height:250px;
    width:250px;
}
.face{
    position:relative;
    height:250px;
    width:250px;
    border-radius:50%;
    background:#ffdb57;
    box-shadow:inset -10px -10px 0 0 #ffcb05;
}
.eye{
    position:absolute;
    height:40px;
    width:30px;
    background:#191f45;
    border-radius:50%;
    top:70px;
}
.left{
    left:60px;
}
.right{
    right:60px;
}
.eye::after{
    content:"";
    height:20px;
    width:15px;
    border-radius:50%;
    background-color: #fff;
    position:absolute;
    left:4px;
    top:4px;
}
.mouth{
    width:120px;
    height:60px;
    border:5px solid #191f45;
    background-color: #191f45;
    position:absolute;
    bottom:45px;
    left:50%;
    transform:translate(-50%);
    overflow:hidden;
    box-sizing:border-box;
    border-radius:5px 5px 60px 60px;
}
.mouth::after{
    content:"";
    width:100px;
    height:50px;
    background:#ee6055;
    border-radius:50px 50px 0 0;
    position:absolute;
    bottom:-20px;
    left:50%;
    transform:translate(-50%);
}